---
layout: story
title: About Voting Wars
permalink: /about-voting-wars/
titlebelowhero: no
image: /img/social/votingwars.jpg
hero: votingwars
slug: about
---

<p style="padding-top: 40px;">“Voting Wars,” an investigation of voting rights and election participation, is the 2016 project of the <a href="http://news21.com">Carnegie-Knight News21 program</a>, a national multimedia, investigative reporting project produced by the nation’s top journalism students and graduates. Each year, students selected into the program report in-depth on a topic of national importance.</p>

<p>This year, 31 journalism students from 18 universities traveled to 31 states, conducted hundreds of interviews, reviewed thousands of pages of state statutes and other records, and built databases and data visualizations documenting the issues surrounding voter rights and participation.</p>

<p>The students work began in January 2016 with a video-conferenced seminar that included reporting and research. In May, they began the 10-week investigative reporting fellowship based out of a newsroom at the Walter Cronkite School of Journalism and Mass Communication at Arizona State University’s downtown Phoenix campus.</p>

<h2>Corrections Policy</h2>

<p>News21 is committed to accuracy and welcomes feedback on the accuracy of packages from sources and members of the public. Staff members and editors will correct errors of fact and clarify confusing information promptly and in a straightforward manner.</p>

<p>We will note significant corrections and clarifications within packages. We will correct minor spelling, punctuation and grammar errors without notice.</p>

<h2>FINANCIAL SUPPORT FROM</h2>

<p><a href="https://www.carnegie.org" target="_blank">THE CARNEGIE CORPORATION OF NEW YORK</a></p>
<p><a href="http://knightfoundation.org/" target="_blank">JOHN S. AND JAMES L. KNIGHT FOUNDATION</a></p>
<p><a href="http://inasmuchfoundation.org" target="_blank">ETHICS AND EXCELLENCE IN JOURNALISM FOUNDATION</a></p>
<p><a href="http://www.hearstfdn.org" target="_blank">HEARST FOUNDATIONS</a></p>
<p><a href="http://www.dwreynolds.org" target="_blank">DONALD W. REYNOLDS FOUNDATION</a></p>
<p>LOUIS A. “CHIP” WEIL</p>
<p>DIANE LANEY FITZPATRICK</p>
<p>FRED W. SMITH</p>
<p>DALLAS MORNING NEWS</p>


<h2>Contact News21</h2>
<p>Email: <a href="mailto:news@news21.com" target="_top">news@news21.com</a> <br>
Twitter: <a href="twitter.com/news21" target="_top">News21</a></p>



<h2>News21 Fellows</h2>

<div class="fellow-list">
{% for fellow_hash in site.data.fellows %}
{% assign fellow =  fellow_hash[1]%}
<div class="media">
  <div class="media-left media-top">
    <img src="/img/about/{{ fellow.pic }}.jpg" alt="{{ fellow.first}} {{ fellow.last }}" width="120" height="120" />
  </div>
<div class="media-body">
      <h4 class="media-heading">{{ fellow.first }} {{ fellow.last }} | <a href="//twitter.com/{{ fellow.twitter }}" _target="_blank" style="box-shadow: none; border-bottom: none;">@{{ fellow.twitter }}</a></h4>
       {% if fellow.sponsor %}
      <h4>{{ fellow.sponsor }}</h4>
      {% endif %}
      <p>{{ fellow.bio }}</p>
  </div>
</div>
{% endfor %}
</div>

<h2>News21 Staff</h2>


{% for fellow_hash in site.data.staff %}
{% assign fellow =  fellow_hash[1] %}
<div class="media">
  <div class="media-left media-top">
    <img src="/img/staff/{{ fellow.pic }}.jpg" alt="{{ fellow.name}}" width="120" height="120" />
  </div>
<div class="media-body">
      <h4 class="media-heading">{{ fellow.name }} | {{ fellow.title }}</h4>
      <p>{{ fellow.bio }}</p>
  </div>
</div>
{% endfor %}
