{% comment %}
To include in story: {% include f-img-3up.html image1="coast" image2="coast2" image3="coast3" text="Also a quite good story" link="the-story" %} 

Put images in /img/front/ 

{% endcomment %}



<div class="three-up">
<div class="container">
  <div class="row">

    <div class="col-xs-4">
      <a href="{{ include.link }}"><img src="/img/front/{{ include.image1 }}.jpg" class="img-responsive" alt="" /></a>
    </div>


    <div class="col-xs-4">
      <a href="{{ include.link }}"><img src="/img/front/{{ include.image2 }}.jpg" class="img-responsive" alt="" /></a>
    </div>
    

    <div class="col-xs-4">
      <a href="{{ include.link }}"><img src="/img/front/{{ include.image3 }}.jpg" class="img-responsive" alt="" /></a>
    </div>
    
</div>
<div class="row">
<div class="col-xs-12">
<p class="front-caption"><a href="{{ include.link }}">{{ include.text }}</a></p>
</div>


</div>
  </div>
</div>
