<div class="hp-entry">
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="main-head"> Hate <br> In <br> America</h1>
        </div>    
    </div>
</div>
</div>


<div class="newspaper">
  <div class="container-fluid">
    <div class="row news-row">
        <div class="col-xs-12 col-md-8 bordered">
             <div class="thickborder"></div>
            <h3 class="hp-small-category"> OVERVIEW:</h3>
            <h2 class="feature-headline"> A Nation Divided</h2>
            <p class="hp-tease"> As many as 63 million people – nearly a fifth of the country – from rural central California to the boroughs of New York City, were exposed to potentially unsafe water more than once during the past decade, according to a News21 investigation of 680,000 water quality and monitoring violations from the Environmental Pro.</p>
            <h4 class="hp-byline"> By Angel Philip, Elizabeth Sims and Jordan Houston </h4>
            <img src="{{ site.url }}/img/single/aframAmericusGA102-1200.jpg" class="img-fluid hp-images">
        </div>  
        <div class="col-xs-12 col-md-4 right">
             <div class="thickborder"></div>
          <img src="{{ site.url }}/img/single/Asset1.png" class="img-fluid"  style="padding-top:20px;">
          <h2 class="feature-headline-avnext"> DIGITAL HATE</h2>
            <p class="hp-tease">The Internet has changed the way that extremist groups gain a following</p>
            <h4 class="hp-byline">By shane smith and the saints</h4>
        </div>
      
      </div>
      
      <div class="row news-row">
          <div class="col-xs-12 col-md-4">
              <div class="thickborder"></div>
              <h2 class="feature-headline-oswaldb"> LAW </h2>
              <p class="hp-tease" style="text-transform: uppercase;  margin-top: 30px;">A patchwork of federal and state laws make hate crimes difficult to prosecute. </p>
              <h4 class="hp-byline">By quentin tarantino </h4>
              
              <div style="border-top: 10px solid black; margin-top:20px">
               <h2 class="feature-headline-avnext"> SALT & PEPPER </h2>
              <p class="hp-tease" style="text-transform: uppercase;  margin-top: 30px;">A patchwork of federal and state laws make hate crimes difficult to prosecute. </p>
               <h4 class="hp-byline">By ayn rand </h4>
                </div>
          </div>
          <div class="col-xs-12 col-md-4 right">
               <div class="thickborder"></div>
             <img src="{{ site.url }}/img/single/Asset2.png" class="img-fluid"  style="padding-top:20px;display:block; margin-left:auto; margin-right:auto;">
             <h2 class="feature-headline-oswaldsb">Somewhere Over the Rainbow </h2>
              <p class="hp-tease" tyle="text-transform: uppercase; margin-top: 30px;">The Internet has changed the way  that extremist groups gain a following </p>
              <h4 class="hp-byline">By Sherlock Holmes and John Watson </h4>
          </div>
           <div class="col-xs-12 col-md-4 right">
                <div class="thickborder"></div>
             <img src="{{ site.url }}/img/single/Asset35.png" class="img-fluid"  style="padding-top:20px; display:block; margin-left:auto; margin-right:auto;">
             <h2 class="feature-headline-oswaldsb">American extremism </h2>
             <p class="hp-tease" style="text-transform: uppercase; margin-top: 30px;">The National Socialist movement, the kkk, racist skinheads and other white dudes with buzz cuts and tattoos. what are they up to these days? </p>
                 <h4 class="hp-byline">By Sherlock Holmes and John Watson </h4>
          </div>
    </div>
     <div class="row news-row">
          <div class="col-xs-12 col-md-4">
               <div class="thickborder"></div>
             <img src="{{ site.url }}/img/single/Asset6.png" class="img-fluid"  style="padding-top:20px;display:block; margin-left:auto; margin-right:auto;">
             <h2 class="feature-headline-oswaldsb">everything you own in a box to the left</h2>
              <p class="hp-tease" tyle="text-transform: uppercase; margin-top: 30px;">The Internet has changed the way  that extremist groups gain a following </p>
              <h4 class="hp-byline">By Sherlock Holmes and John Watson </h4>
          </div>
         <div class="col-xs-12 col-md-8 right">
              <div class="thickborder"></div>
            <h3 class="hp-small-category"> PODCAST:</h3>
            <h2 class="feature-headline"> How Hate Begins</h2>
            <p class="hp-tease"> As many as 63 million people – nearly a fifth of the country – from rural central California to the boroughs of New York City, were exposed to potentially unsafe water more than once during the past decade, according to a News21 investigation of 680,000 water quality and monitoring violations from the Environmental Pro.</p>
            <h4 class="hp-byline"> By Angel Philip, Elizabeth Sims and Jordan Houston </h4>
            <img src="{{ site.url }}/img/single/Asset7.png" class="img-fluid">
        </div>  
         
      </div>
      
</div>
