{% comment %}
To include in story: {% include m-img-mid.html image="coast" link="voting" text="Millennials may be snake people" %} Put image in /img/millennials/ {% endcomment %}

{% include boxbreaker.html %}

<div class="container" style="padding-bottom: 20px;">
  <div class="row">

    <div class="col-sm-5 col-sm-offset-1" style="padding-bottom: 20px;">

      <div class="two-up-overlay">
      <a href="{{ include.link1 }}"><img src="/img/single/{{ include.image1 }}.jpg" class="img-responsive" alt="" />
      <h3>{{ include.text1 }}</h3>
      </a>
    </div>

    </div>
    <div class="col-sm-5">

      <div class="two-up-overlay">
      <a href="{{ include.link2 }}"><img src="/img/single/{{ include.image2 }}.jpg" class="img-responsive" alt="" />
      <h3>{{ include.text2 }}</h3>
      </a>
    </div>

</div>
  </div>
</div>

{% include boxenter-front.html %}
