<div class="modal fade navigation-mapscreen" id="navigationModal" tabindex="-1" role="dialog" aria-label="navigationModal" aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered modal-xl-lenny" role="document"  >
		<div class="modal-content">
			<div class="modal-body">
				<div class="container-fluid">
				<div class="row">
				<div class="col-12">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
					<h3>@@The State of Hate Road Trip@@</h3>
					<p>@@Explainer of how to use this map to navigate the content.@@</p>
					<div id="map2" >
					</div>
				</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade navigation-mobile-modal" id="mobileModalNav" tabindex="-1" role="dialog" aria-label="mobileModalNav" aria-hidden="false">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="container-fluid">
				<div class="row">
				<div class="col-12">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
					<h3>@@the State of Hate Road Trip@@</h3>
					<p>@@Explainer of how to use this map to navigate the content.@@</p>
					<ul class="list-group roadtrip-mobile-nav-list">
					  <li class="list-group-item roadtrip-mobile-highway text-center">
					  	<img src="{{site.url}}/img/roadtrip/signs/png/I-10.png" alt="Interstate 10 West" class="roadtrip-mobile-sign">&nbsp;Interstate 10 West</li>
					  <li class="list-group-item">
							<div class="list-group list-group-flush">
							<a href="#twenty-nine-palms-ca" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Twentynine Palms, California</a>
							</div>
						</li>
						<li class="list-group-item roadtrip-mobile-highway text-center">
							<img src="{{site.url}}/img/roadtrip/signs/png/US-395.png" alt="Highway 395 North" class="roadtrip-mobile-sign">&nbsp;Highway 395 North</li>
					  <li class="list-group-item">
							<div class="list-group list-group-flush" >
							<a href="#olancha-ca" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Olancha, California</a>
							<a href="#manzanar-ca" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Manzanar, California</a>
							<a href="#bishop-ca" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Bishop, California</a>
							</div>
						</li>
						<li class="list-group-item roadtrip-mobile-highway text-center">
							<img src="{{site.url}}/img/roadtrip/signs/png/US-50.png" alt="Highway 50 East" class="roadtrip-mobile-sign">&nbsp;Highway 50 East</li>
					  <li class="list-group-item">
							<div class="list-group list-group-flush" onclick="$('#mobileModalNav').modal('hide');">
							<a href="#virginia-city-nv" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Virginia City, Nevada</a>
							<a href="#stagecoach-nv" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');"	>Stagecoach, Nevada</a>
							</div>
						</li>
						<li class="list-group-item roadtrip-mobile-highway text-center">
							<img src="{{site.url}}/img/roadtrip/signs/png/I-80.png" alt="Interstate 80 East" class="roadtrip-mobile-sign">&nbsp;Interstate 80 East</li>
					  <li class="list-group-item">
							<div class="list-group list-group-flush">
							<a href="#salt-lake-city-ut" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Salt Lake City, Utah</a>
							<a href="#little-america-wy" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Little America, Wyoming</a>
							<a href="#laramie-wy" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Laramie, Wyoming</a>
							</div>
						</li>
						<li class="list-group-item roadtrip-mobile-highway text-center">
							<img src="{{site.url}}/img/roadtrip/signs/png/I-90.png" alt="Interstate 90 East" class="roadtrip-mobile-sign">&nbsp;Interstate 90 East</li>
					  <li class="list-group-item">
							<div class="list-group list-group-flush">
							<a href="#keystone-sd" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Keystone, South Dakota</a>
							<a href="#mitchell-sd" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Mitchell, South Dakota</a>
							</div>
						</li>
						<li class="list-group-item roadtrip-mobile-highway text-center">
							<img src="{{site.url}}/img/roadtrip/signs/png/SD-79.png" alt="Interstate 80 East" class="roadtrip-mobile-sign">&nbsp;Highway 79 South</li>
						<li class="list-group-item">
							<div class="list-group list-group-flush">
							<a href="#tekamah-ne" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Tekamah, Nebraska</a>
							</div>
						</li>
						<li class="list-group-item roadtrip-mobile-highway text-center">
							<img src="{{site.url}}/img/roadtrip/signs/png/I-80.png" alt="Interstate 80 East" class="roadtrip-mobile-sign">&nbsp;Interstate 80 East</li>
						<li class="list-group-item">
							<div class="list-group list-group-flush">
							<a href="#perry-ia" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Perry, Iowa</a>
							<a href="#carbon-hill-il" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Carbon Hill, Illinois</a>
							</div>
						</li>
						<li class="list-group-item roadtrip-mobile-highway text-center">
							<img src="{{site.url}}/img/roadtrip/signs/png/I-90.png" alt="Interstate 90 East" class="roadtrip-mobile-sign">&nbsp;Interstate 90 East</li>
						<li class="list-group-item">
							<div class="list-group list-group-flush">
							<a href="#fremont-oh" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Fremont, Ohio</a>
							<a href="#harrisburg-pa" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Harrisburg, Pennsylvania</a>
							<a href="#gettysburg-pa" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Gettysburg, Pennsylvania</a>
							</div>
						</li>
						<li class="list-group-item roadtrip-mobile-highway text-center">
							<img src="{{site.url}}/img/roadtrip/signs/png/I-270.png" alt="Interstate 270 East" class="roadtrip-mobile-sign">&nbsp;Interstate 270 South</li>
						<li class="list-group-item">
							<div class="list-group list-group-flush">
							<a href="#dc" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Washington, D.C.</a>
							</div>
						</li>
						<li class="list-group-item roadtrip-mobile-highway text-center">
							<img src="{{site.url}}/img/roadtrip/signs/png/I-64.png" alt="Interstate 64 West" class="roadtrip-mobile-sign">&nbsp;Interstate 64 West</li>
						<li class="list-group-item">
							<div class="list-group list-group-flush">
							<a href="#beckley-wv" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Beckley, West Virginia</a>
							<a href="#mallie-ky" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Mallie, Kentucky</a>
							<a href="#london-ky" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">London, Kentucky</a>
							</div>
						</li>
						<li class="list-group-item roadtrip-mobile-highway text-center">
							<img src="{{site.url}}/img/roadtrip/signs/png/I-40.png" alt="Interstate 40 West" class="roadtrip-mobile-sign">&nbsp;Interstate 40 West</li>
						<li class="list-group-item">
							<div class="list-group list-group-flush">
							<a href="#memphis-tn" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Memphis, Tennessee</a>
							<a href="#van-buren-ar" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Van Buren, Arkansas</a>
							</div>
						</li>
						<li class="list-group-item roadtrip-mobile-highway text-center">
							<img src="{{site.url}}/img/roadtrip/signs/png/US-66.png" alt="Route 66 West" class="roadtrip-mobile-sign">&nbsp;Route 66 West</li>
						<li class="list-group-item">
							<div class="list-group list-group-flush">
							<a href="#oklahoma-city-ok" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Oklahoma City, Oklahoma</a>
							<a href="#elk-city-ok" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Elk City, Oklahoma</a>
							<a href="#amarillo-tx" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Amarillo, Texas</a>
							<a href="#albuquerque-nm" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Albuquerque, New Mexico</a>
							<a href="#grants-nm" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Grants, New Mexico</a>
							<a href="#sanders-az" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Sanders, Arizona</a>
							</div>
						</li>
						<li class="list-group-item roadtrip-mobile-highway text-center">
							<img src="{{site.url}}/img/roadtrip/signs/png/AZ-87.png" alt="Highway 87 South" class="roadtrip-mobile-sign">&nbsp;Highway 87 South</li>
						<li class="list-group-item">
							<div class="list-group list-group-flush">
							<a href="#phoenix-az" class="list-group-item list-group-item-action" onclick="$('#mobileModalNav').modal('hide');">Phoenix, Arizona</a>
							</div>
						</li>
					</ul>
				</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="container-fluid" id="roadtrip-page">
		<div class="row" id="cluster1">
			<div class="col-12 road-video-segment" style="position:relative;">
				<div class="roadtrip-cover-info">
					<h1 class="roadtrip-intro-head">The State of Hate</h1>
					<p class="roadtrip-intro-deck">We traveled the country, this is what we found.</p>
				</div>
				{% include roadtrip-drivingvideo.html video="01_10WEST" %}
			</div> <!--end of columns-->
		</div>	<!--end of cluster1 div-->

		<div class="row" id="cluster2">
			<div class="col-xs-12 col-lg-7 offset-lg-1">
				<div class="content-stop">
					<div id="twenty-nine-palms-ca" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">The Virginian Cocktails</h2>
					{% include roadtrip-location.html image="martinez_twentyninepalms" caption="The Virginian Cocktails in Twentynine Palms, Califonia is located on the corner of 29 Palms Highway and Cholla Avenue." byline="Lenny Martinez Dominguez" %}
					<br>
					{% include roadtrip-talkie.html name="Kari Wilson" image="martinez_talkie_twentyninepalms_1" description="Kari Wilson, 26, is a bartender at The Virginian Cocktails in Twentynine Palms, California." caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-talkie.html name="Laurette Rogers and Wedda Warrick" image="martinez_talkie_twentyninepalms_2" description="Laurette (left) and Wedda have been drinking partners for close to three years." caption="@@needs a caption@@"%}
					<br>
				</div>
			</div> <!--end of content column-->
			<div class="col-lg-3">
				</button>
			</div><!--end of interactive map columns-->
		</div>	<!--end of cluster2 div-->

		<div class="row" id="cluster3">
			<div class="col-12 road-video-segment">
			{% include roadtrip-drivingvideo.html video="02_395NORTH" %}
			</div> <!-- end of road-video-segment -->
		</div>	<!--end of cluster1 div-->

		<div class="row" id="cluster4">
			<div class="col-xs-12 col-lg-7 offset-lg-1">
				<div class="content-stop">
					<div id="olancha-ca" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left ">Gus's Fresh Jerky</h2>
					{% include roadtrip-location.html image="martinez_olancha" caption="The first of Gus’s Fresh Jerky stores in Olancha, California, started in an old gas station in 1996." byline="Lenny Martinez Dominguez"%}
					<br>
					{% include roadtrip-talkie.html name="Nora Berguem" image="martinez_talkie_olancha" description="She’s a sociology major at Whittier College in Whittier, Calif. She spends her summers working at Gus’s Fresh Jerky as a cashier." caption="@@needs a caption@@"%}
					<br>
				</div><!--end of content stop-->
				<div class="content-stop">
					<div id="manzanar-ca" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Manzanar National Historic Site</h2>
					{% include roadtrip-location.html image="martinez_manzanar" caption="Moved to Manzanar National Historic Site in late 2002, the restored mess halls are the same type as those used by Japanese-Americans interned at Manzanar during World War II." byline="Lenny Martinez Dominguez" %}
					<br>
					{% include roadtrip-talkie.html name="Elizabeth and Terry Vance" image="martinez_talkie_manzanar_1" description="Elizabeth and Terry Vance have been divorced for more than 20 years, but they still travel together. A recent trip brought them to Manzanar Historic Site." caption="@@needs a caption@@"%}
					<br>
					{% include roadtrip-talkie.html name="Mina Monden" image="martinez_talkie_manzanar_2" description="Mina Monden visited the Manzanar Historic Site with her nephews, who were traveling from Japan." caption="@@needs a caption@@"%}
					<br>
					{% include roadtrip-talkie.html name="Bernadette Johnson" image="martinez_talkie_manzanar_3" description="Bernadette Johnson is the superintendent of the National Park Service at Manzanar." caption="@@needs a caption@@" %}
					<br>
				
				</div><!--end of content stop-->
				<div class="content-stop">
					<div id="bishop-ca" class="roadtrip-buffer">&nbsp;</div>					
					<h2 class="text-left">Bishop, California</h2>
					<div class="embed-responsive embed-responsive-16by9">
  				<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/283767758?color=a10d03" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
					<br>
				</div><!--end of content stop-->
			</div> <!--end of content column-->
			<div class="col-lg-3">
			
			</div><!--end of interactive map columns-->
		</div>	<!--end of cluster2 div-->

		<div class="row" id="cluster5">
			<div class="col-12 road-video-segment">
			{% include roadtrip-drivingvideo.html video="03_50EAST" %}
			</div> <!--end of columns-->
		</div>	<!--end of cluster1 div-->

		<div class="row" id="cluster6">
			<div class="col-xs-12 col-lg-7 offset-lg-1">
				<div class="content-stop">
					<div id="virginia-city-nv" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Virginia City, Nevada</h2>
					{% include roadtrip-location.html image="tuttle_virginiacity" caption="Originally a boomtown built in the 1850s, Virginia City was built around mining silver and gold from the Comstock Lode that was discovered in the area. In the late 1870s the mines’ outputs decreased and the town’s population suffered. In recent year, it’s managed to survive as a tourist town." byline="Jim Tuttle" %}
					<br>
					{% include roadtrip-pullquote.html name="Wayne Douglas Tarrant" image="martinez_pullquote_virginiacity_3" pullquote="We’re bringing in too many different races. We have too much diversity. Other countries don’t open their border like we do, but now we’re in trouble with Muslims. We don’t really have a problem (with racism) up here. The only time we have problem is when we have some Arabs up here in their dress. They’re in full burka and people get very nervous. They don’t know if they have explosives underneath those outfits. All the merchants up here get nervous. There is a lot of people up here with guns and they’re standing at the ready in case there is a problem. It’s not fear, we’re fearless… I think it’s politics causing the problems. The politicians are causing the problems because of greed." caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-pullquote.html name="Paul Coombes" image="martinez_pullquote_virginiacity_1" pullquote="I come from an ethnic family. My daughter, Zoe, is half African-American, so I am very sensitive to the topic of hate. I think all races have a lot of work to do. It’s better than it used to be, but we have a long way to go." caption="@@needs a caption@@" %}
				</div>
				<div class="content-stop">
					<div id="stagecoach-nv" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Stagecoach, Nevada</h2>
					{% include roadtrip-location.html image="martinez_stagecoach_2" caption="The gas station in Stagecoach, Nevada, where we found Brian Baldwin." byline="Lenny Martinez Dominguez" %}
					<br>
					{% include roadtrip-talkie.html name="Brian Baldwin" image="martinez_talkie_stagecoach_1" description="Brian Baldwin was stocking produce at a gas station in Lyon County, Nevada when News21 met him. He said people are too 'politically sensitive' today, and recalled a time when America was 'pretty cool for a while there.'" caption="@@needs a caption@@" %}
					<br>
				</div>
			</div> <!--end of content column-->
			<div class="col-lg-3">
				&nbsp;
			</div><!--end of interactive map columns-->
		</div>	<!--end of cluster2 div-->

		<div class="row" id="cluster7">
			<div class="col-12 road-video-segment">
			{% include roadtrip-drivingvideo.html video="04_80EAST" %}
			</div> <!--end of columns-->
		</div>	<!--end of cluster1 div-->

		<div class="row" id="cluster8">
			<div class="col-xs-12 col-lg-7 offset-lg-1">
				<div class="content-stop" >
					<div id="salt-lake-city-ut" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Salt Lake City, Utah</h2>
					<div class="embed-responsive embed-responsive-16by9">
  				<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/283769168?color=a10d03" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
					<br>
					{% include roadtrip-pullquote.html name="Michelle Calwley" image="martinez_pullquote_slc_1" pullquote="I think we’re going backwards. Totally backwards, when a large majority of us just want to be together. We’re all the same." caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-pullquote.html name="Bradley DeNorris" image="martinez_pullquote_slc_3" pullquote="When you have something like that, where the president is saying there is blame  on both sides, equivocating about straight up racism sides, then I think it gives people more license to be straight out racist. " caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-pullquote.html name="Lisa Corsetti" image="martinez_pullquote_slc_2" pullquote="I am not going to fly the American flag on the fourth of July, instead I am going to fly my resistance flag because I believe that this country needs to go forward not backwards. We don't want open borders, we just want people to be treated fairly and not cruelly when they come here. You know I think America the beautiful is what we should strive for and it should be both beautiful inside and out." caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-pullquote.html name="Martin Turner IV" image="martinez_pullquote_slc_4" pullquote="The right number of Americans voted for Donald Trump to win the election because they need a change from Hillary Clinton was getting ready to deliver upon them. Every race causes problems for America. There are laws to keep civil order. If we don’t have civil order, our social order breaks down. So it’s not just the illegal immigrants that cause it a lot of problems." caption="@@needs a caption@@" %}
					<br>
				</div>
				<div class="content-stop">
					<div id="little-america-wy" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Little America Hotel, Wyoming</h2>
					{% include roadtrip-location.html image="martinez_littleamerica_4" caption="Located off of Exit 68 on Interstate 80, Little America is a combination of hotel, gas station, and gift shop. It was intentionally built in a remote location to act as a haven for westward-bound travelers." byline="Lenny Martinez Dominguez" %}
					<br>
					{% include roadtrip-talkie.html name="Mike and Tirzah Smith" image="martinez_talkie_littleamerica" description="Mike, a technician from Orem, Utah, and his wife Tirzah, a second grade teacher, are returning from a pioneer trek to Martin’s cove with their youth group." caption="@@needs a caption@@" %}
					<br>
				</div>
				<div class="content-stop">
					<div id="laramie-wy" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Laramie, Wyoming</h2>
					{% include roadtrip-location.html image="martinez_laramie_3" caption="Matt Mcomie (left) prepares for a game of pool with Kevin Farris (center left) while Kraig Smith and Buck Ward (right) converse at the the Buckhorn Bar & Parlor in Laramie, Wyoming." byline="Lenny Martinez Dominguez" %}
					<br>
					{% include roadtrip-pullquote.html name="Buck Ward" image="martinez_pullquote_laramie_3" pullquote="Hate and friction is everywhere around us. Even here in the bar, we disagree about politics. I think Trump is a big (expletive). He’s out of touch with America and what Americans want. It’s the things he’s saying and not saying that is spurring hate." caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-pullquote.html name="Fred Lee" image="martinez_pullquote_laramie_2" pullquote="The media is making things a bigger deal than they are. Everything becomes more heightened when the media can reach millions of people on their phones." caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-pullquote.html name="Logan Lee" image="martinez_pullquote_laramie_1" pullquote="Being an interracial couple, [Fred and I] see the race thing. Talking about it and hyping it up makes it worse for us. People have made comments to us, but it’s a lot better in Wyoming... Here, there isn’t the history of racial tensions." caption="@@needs a caption@@" %}
					<br>
				</div>
			</div> <!--end of content column-->
			<div class="col-lg-3">
				&nbsp;
			</div><!--end of interactive map columns-->
		</div>	<!--end of cluster2 div-->

		<div class="row" id="cluster9">
			<div class="col-12 road-video-segment">
			{% include roadtrip-drivingvideo.html video="05_90EAST" %}
			</div> <!--end of columns-->
		</div>	<!--end of cluster1 div-->

		<div class="row" id="cluster10">
			<div class="col-xs-12 col-lg-7 offset-lg-1">
				<div class="content-stop">
					<div id="keystone-sd" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Mount Rushmore</h2>
					<div class="embed-responsive embed-responsive-16by9">
  					<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/284083131?color=a10d03" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
					<br>
					{% include roadtrip-pullquote.html name="Jeff & Janet Smith" image="martinez_pullquote_rushmore_1" pullquote="There’s definitely friction and I think sixty percent of our friction is the news. We show all bad and no positive because there are as many positive people in the country as there are negative. —Jeff" caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-pullquote.html name="Charles & Gale Smith" image="martinez_pullquote_rushmore_2" pullquote="“So I think the media has the Trump effect. It’s their fault. And people criticize Trump for tweeting, but it’s the only way he can reach the American people because the media won’t report what he is doing accurately.” —Charles<br><br>“These presidents would agree with a lot of the policies that he’s adapted. I think that most of Americans are behind the president and what he is doing.” —Gale" caption="@@needs a caption@@" %}
					<br>
				</div>
				<div class="content-stop">
					<div id="mitchell-sd" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">The Corn Palace</h2>
					{% include roadtrip-location.html image="martinez_mitchell_1" caption="With an exterior decorated using corn ears, The World’s Only Corn Palace in Mitchell, South Dakota, attracts around half a million people a year. The exterior murals change every year with a different theme. For 2017, the theme was “South Dakota Weather”." byline="Lenny Martinez Dominguez" %}
					<br>
					{% include roadtrip-talkie.html name="Lauren and Devon Langston" image="martinez_talkie_mitchell_1" description="Lauren and Devon from Virginia are traveling the country in an RV." caption="@@needs a caption@@" %}
					<br>
				</div>
			</div> <!--end of content column-->
			<div class="col-lg-3">
				&nbsp;
			</div><!--end of interactive map columns-->
		</div>	<!--end of cluster2 div-->

		<div class="row" id="cluster11">
			<div class="col-12 road-video-segment">
			{% include roadtrip-drivingvideo.html video="06_79SOUTH" %}
			</div> <!--end of columns-->
		</div>	<!--end of cluster1 div-->

		<div class="row" id="cluster12">
			<div class="col-xs-12 col-lg-7 offset-lg-1">
				<div class="content-stop" >
					<div id="tekamah-ne" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Tekamah, Nebraska</h2>
					{% include roadtrip-location.html image="martinez_tekamah_1" caption="With a slogan of “Looking to the Future”, Tekamah, NE is a small town of 1,852 people northwest of Omaha. " byline="Lenny Martinez Dominguez" %}
					<br>
					{% include roadtrip-talkie.html name="Frankie McCandless and Keith Terwilliger" image="martinez_talkie_tekamah_1" description="Frankie(left) and Keith are construction workers in town from Tennessee on a job." caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-talkie.html name="Larry Bucy" image="martinez_talkie_tekamah_3" description="A Tekamah native who served in the U.S. Army from 1969 to 1973" caption="@@needs a caption@@" %}
					<br>
				</div>
			</div> <!--end of content column-->
			<div class="col-lg-3">
				&nbsp;
			</div><!--end of interactive map columns-->
		</div>	<!--end of cluster2 div-->

		<div class="row" id="cluster13">
			<div class="col-12 road-video-segment">
			{% include roadtrip-drivingvideo.html video="07_80EAST" %}
			</div> <!--end of columns-->
		</div>	<!--end of cluster1 div-->

		<div class="row" id="cluster14">
			<div class="col-xs-12 col-lg-7 offset-lg-1">
				<div class="content-stop">
					<div id="perry-ia" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Perry, Iowa</h2>
					<div class="embed-responsive embed-responsive-16by9">
  					<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/284083945?color=a10d03" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
					<br>
					{% include roadtrip-pullquote.html name="Laurie Haynes" image="lancial_pullquote_perry_4" pullquote="I am proud of what America was founded to be. I am not very proud of what it is right now." caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-pullquote.html name="Debra Allen" image="lancial_pullquote_perry_2" pullquote="I mean it’s just a people aren’t talking to each other and not trying to get along. You just got to weigh both sides. And you got to look and not make an opinion right away. You got to think about it and listen to both sides." caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-pullquote.html name="Jerry Roberts" image="martinez_pullquote_perry_1" pullquote="I think that we are rapidly approaching the precipice. We haven’t approached or taught this generation or even past generations how to sit down and discuss things and how to work problems through. I think it’s a problem solving situation. And everyone just has their view point and they are not willing to sit down and aren’t willing to participate in discourse. I’m a veteran, so I will feel pride in America. I don’t know what others feel. Sometimes they don’t know enough to stand up and take their hat off when the flag goes by, but at least they show up for the event and that’s a starting point." caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-pullquote.html name="Connie Metzler" image="lancial_pullquote_perry_3" pullquote="And then the media will take on something bad that happened and just continually talk about it over and over and over and over and over and over, to where it will get a group of people upset and angry." caption="@@needs a caption@@" %}
				</div>
				<div class="content-stop">
					<div id="carbon-hill-il" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Mustachio's Bar and Grill</h2>
					{% include roadtrip-location.html image="martinez_carbonhill_1" caption="In a village that hasn’t grown or shrunk since it’s founding in the late 1800s, Mustachio’s Bar and Grill is one of two food establishments in Carbon Hill." byline="Lenny Martinez Dominguez" %}
					<br>
					{% include roadtrip-pullquote.html name="Diane Eartly" image="martinez_pullquote_carbonhill_1" pullquote="There's no like 'I hate you and don't come in here' type thing where they're going to fight in the middle... I know you probably have the diverse people that don't get along and especially with politics or something... they'll just be quieter or they'll just leave." caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-pullquote.html name="Stephanie Long" image="martinez_pullquote_carbonhill_2" pullquote="There’s a lot of growing that needs to be done, but I’m hoping [America] will get better." caption="@@needs a caption@@" %}
					<br>
				</div>
			</div> <!--end of content column-->
			<div class="col-lg-3">
				&nbsp;
			</div><!--end of interactive map columns-->
		</div>	<!--end of cluster2 div-->

		<div class="row" id="cluster15">
			<div class="col-12 road-video-segment">
			{% include roadtrip-drivingvideo.html video="08_90EAST" %}
			</div> <!--end of columns-->
		</div>	<!--end of cluster1 div-->

		<div class="row" id="cluster16">
			<div class="col-xs-12 col-lg-7 offset-lg-1">
				<div class="content-stop">
					<div id="fremont-oh" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Fremont, Ohio</h2>
					{% include roadtrip-location.html image="lancial_fremont" caption="Built between 1859 and 1865, this 31-room mansion on the Spiegel Grove estate in Fremont, Ohio was home to America's 19th president, Rutherford B. Hayes." byline="Jim Tuttle" %}
					<br>
					{% include roadtrip-talkie.html name="Chandra Palm & Julie Bellfy" image="lancial_talkie_fremont_1" description="Fremont native Chandra(left) and her friend Julie belive social meida contributes to the divisiveness in America today." caption="@@needs a caption@@" %}
				</div>
				<div class="content-stop">
					<div id="harrisburg-pa" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Harrisburg, Pennsylvania</h2>
					<img class="img-fluid" src="http://via.placeholder.com/1200x675"></img>
					<p>Soundscape video for Harrisburg, PA</p>
					<br>
					{% include roadtrip-pullquote.html name="Anthony Caraballo" image="filler" pullquote="@@pullquote content goes here@@" caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-pullquote.html name="Shane Harris Sr." image="filler" pullquote="@@pullquote content goes here@@" caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-pullquote.html name="Dave Robinson" image="filler" pullquote="@@pullquote content goes here@@" caption="@@needs a caption@@" %}
					<br>
				</div>
				<div class="content-stop">
					<div id="gettysburg-pa" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Gettysburg, Pennsylvania</h2>
					<img class="img-fluid" src="http://via.placeholder.com/1200x675"></img>
					<p>Stacy Video vignette</p>
					<br>
					{% include roadtrip-talkie.html name="CAROL & BOB" image="filler" description="@@needs a description@@" caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-talkie.html name="THOMAS" image="filler" description="@@needs a description@@" caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-talkie.html name="JOHN" image="filler" description="@@needs a description@@" caption="@@needs a caption@@" %}
					<br>
				</div>
			</div> <!--end of content column-->
			<div class="col-lg-3">
				&nbsp;
			</div><!--end of interactive map columns-->
		</div>	<!--end of cluster2 div-->

		<div class="row" id="cluster17">
			<div class="col-12 road-video-segment">
			{% include roadtrip-drivingvideo.html video="09_270SOUTH" %}
			</div> <!--end of columns-->
		</div>	<!--end of cluster17 div-->

		<div class="row" id="cluster18">
			<div class="col-xs-12 col-lg-7 offset-lg-1">
				<div class="content-stop">
					<div id="dc" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Washington, D.C.</h2>
					<img class="img-fluid" src="http://via.placeholder.com/1200x675"></img>
					<p>DC soundscapte</p>
					<br>
					{% include roadtrip-pullquote.html name="Belinda Asio-Ogaino" image="marlatt_pullquote_dc_2" pullquote="@@pullquote content goes here@@" caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-pullquote.html name="Ben Keeler" image="marlatt_pullquote_dc_1" pullquote="@@pullquote content goes here@@" caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-pullquote.html name="Lluvia Medina" image="marlatt_pullquote_dc_3" pullquote="@@pullquote content goes here@@" caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-pullquote.html name="Peter Robinson" image="marlatt_pullquote_dc_4" pullquote="@@pullquote content goes here@@" caption="@@needs a caption@@" %}
					<br>
				</div>
			</div> <!--end of content column-->
			<div class="col-lg-3">
				&nbsp;
			</div><!--end of interactive map columns-->
		</div>	<!--end of cluster18 div-->

		<div class="row" id="cluster19">
			<div class="col-12 road-video-segment">
			{% include roadtrip-drivingvideo.html video="10_64EAST" %}
			</div> <!--end of columns-->
		</div>	<!--end of cluster19 div-->

		<div class="row" id="cluster20">
			<div class="col-xs-12 col-lg-7 offset-lg-1">
				<div class="content-stop">
					<div id="beckley-wv" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Omelet Shoppe</h2>
					{% include roadtrip-location.html image="marlatt_omeletshoppe_1" caption="The Omelet Shoppe is a 24-hour diner lcoated near Interstate 64 in Beckley, West Virginia. The diner is a poplar attraction for local residents. Beckley native George Bailey said he has been getting his morning cup of coffee at the diner for the past three years." byline="Tilly Marlatt" %}
					<br>
					{% include roadtrip-talkie.html name="Felicia Robertson" image="marlatt_talkie_omeletshoppe_1" description="Felicia Robertson is a waitress at the Omelet Shoppe." caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-talkie.html name="William Bailey" image="marlatt_talkie_omeletshoppe_2" description="William has been visiting the Omelet Shoppe every day for the past three years." caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-location.html image="marlatt_omeletshoppe_murder_2" caption="A woman was murdered at the Travelodge Hotel in Beckley, West Virginia on July 9. Felicia Robertson, a waitress at the Omelete Shoppe next door, attributes the murder to one cause — drugs. The opiod epidemic grips the community of 17,000." byline="Tilly Marlatt" %}
					<br>
					<h2 class="text-left">Brandy’s Catfish and Trout Pond</h2>
					{% include roadtrip-location.html image="marlatt_pond" caption="Tristan 'Turtle' Hylton, of Beckley, attempts to reel in his pole at Brandy's Catfish and Trout Pond while Leah J. King, Jayden Farnsworth, and Uriah Farnsworth congregate around him awaiting what they hope is a big catch." byline="Tilly Marlatt" %}
					<br>
					{% include roadtrip-talkie.html name="Jessica Vance" image="marlatt_talkie_pond_1" description="Jessica Vance, of Beckely, enjoys bonding with her children over fishing at Brandy's Catfish Pond near Bolt, West Virginia." caption="@@needs a caption@@" %}
					<br>
				</div>
				<div class="content-stop">
					<div id="mallie-ky" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Mallie, Kentucky</h2>
					<img class="img-fluid" src="http://via.placeholder.com/1200x675"></img>
					<p>Rachel Vignette</p>
					<br>
					<p>@@Rachel Photo Slideshow@@</p>
				</div>
				<div class="content-stop">
					<div id="london-ky" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Tonic Room Barbershop</h2>
					<img class="img-fluid" src="http://via.placeholder.com/1200x675"></img>
					<p>Barbershop soundscape</p>
					<br>
					{% include roadtrip-pullquote.html name="Jason Kovach" image="marlatt_pullquote_barber_1" pullquote="@@pullquote content goes here@@" caption="@@needs a caption@@" %}
					<br>
				</div>
			</div> <!--end of content column-->
			<div class="col-lg-3">
				&nbsp;
			</div><!--end of interactive map columns-->
		</div>	<!--end of cluster2 div-->

		<div class="row" id="cluster21">
			<div class="col-12 road-video-segment">
			{% include roadtrip-drivingvideo.html video="11_40WEST" %}
			</div> <!--end of columns-->
		</div>	<!--end of cluster1 div-->

		<div class="row" id="cluster22">
			<div class="col-xs-12 col-lg-7 offset-lg-1">
				<div class="content-stop">
					<div id="memphis-tn" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Memphis, Tennessee</h2>
					<img class="img-fluid" src="http://via.placeholder.com/1200x675"></img>
					<p>Randy video vignette</p>
					<br>
				</div>
				<div class="content-stop">
					<div id="van-buren-ar" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Van Buren, Arkansas</h2>
					{% include roadtrip-location.html image="marlatt_vanburen" caption="Van Buren, Arkansas is home to a population of 24,000. The Main Street district (pictured) is a popular attraction for tourists who visit the community to take rides on the excursion trains." byline="Tilly Marlatt" %}
					<br>
					{% include roadtrip-pullquote.html name="Couple in Van Buren" image="marlatt_pullquote_vanburen" pullquote="@@pullquote content goes here@@" caption="@@needs a caption@@" %}
				</div>
			</div> <!--end of content column-->
			<div class="col-lg-3">
				&nbsp;
			</div><!--end of interactive map columns-->
		</div>	<!--end of cluster2 div-->

		<div class="row" id="cluster23">
			<div class="col-12 road-video-segment">
			{% include roadtrip-drivingvideo.html video="12_66WEST" %}
			</div> <!--end of columns-->
		</div>	<!--end of cluster1 div-->

		<div class="row" id="cluster24">
			<div class="col-xs-12 col-lg-7 offset-lg-1">
				<div class="content-stop">
					<div id="oklahoma-city-ok" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Oklahoma National Stockyard Company</h2>
					<img class="img-fluid" src="http://via.placeholder.com/1200x675"></img>
					<p>OKCity Soundscape</p>
					<br>
					{% include roadtrip-pullquote.html name="Jay Lewis" image="marlatt_pullquote_okc_1" pullquote="@@pullquote content goes here@@" caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-pullquote.html name="Lary Bryant" image="marlatt_pullquote_okc_2" pullquote="@@pullquote content goes here@@" caption="@@needs a caption@@" %}
					<br>
				</div>
				<div class="content-stop">
					<div id="elk-city-ok" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Elk City, Oklahoma</h2>
					{% include roadtrip-location.html image="marlatt_elkcity" caption="Elk City, OK is located on the west side of the state along Route 66.  The city recorded a population of 11,555 in 2017. Stout & Son Pawn Shop (pictured) was started in 1952 by Steve Stout's grandfather. " byline="Tilly Marlatt" %}
					<br>
					{% include roadtrip-talkie.html name="Larry Parvin" image="marlatt_talkie_elkcity_1" description="Larry Parvin is the Pastor at Main Street Baptist Church in Elk City, Oklahoma." caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-talkie.html name="Steve Stout" image="marlatt_talkie_elkcity_2" description="Steve owns Stout and Son Pawn Shop in Elk City" caption="@@needs a caption@@" %}
				</div>
				<div class="content-stop">
					<div id="amarillo-tx" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Amarillo, Texas</h2>
					{% include roadtrip-location.html image="tuttle_amarillo" caption="@@Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.@@" byline="Jim Tuttle" %}
					<br>
					{% include roadtrip-talkie.html name="Boozefighter Whiff" image="marlatt_talkie_amarillo" description="Boozefighter Whiff (his biker name) is a psychology professor and has worked in academia for 30 years." caption="@@needs a caption@@" %}
					<br>
				</div>
				<div class="content-stop">
					<div id="albuquerque-nm" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Albuquerque, New Mexico</h2>
					{% include roadtrip-location.html image="marlatt_abq" caption="@@Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.@@" byline="Tilly Marlatt" %}
					<br>
					{% include roadtrip-talkie.html name="Maya Vigil" image="marlatt_talkie_abq_1" description="Maya is a college student at the University of New Mexico and and a waitress at Central Grill in Albuquerque, New Mexico. She believes open conversation is the solution to the tensions that exist in America." caption="@@needs a caption@@" %}
					<br>
				</div>
				<div class="content-stop">
					<div id="grants-nm" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Grants, New Mexico</h2>
					{% include roadtrip-location.html image="marlatt_grants_2" caption="Riverwalk Park is located in Grants, New Mexico along Route 66. Grants is home to a population of approximately 9,000 citizens." byline="Tilly Marlatt" %}
					<br>
					{% include roadtrip-talkie.html name="Melanie Beyale" image="marlatt_talkie_grants_1" description="Melanie Beyale, 23, is a member of the Navajo Nation and fearful of the state of the nation." caption="@@needs a caption@@" %}
					<br>
					{% include roadtrip-talkie.html name="Stone Gonzales" image="marlatt_talkie_grants_2" description="Stone Gonzales works at the New Mexico Mining Museum and feels that both Democrats and Republicans want change." caption="@@needs a caption@@" %}
					<br>
				</div>
				<div class="content-stop">
					<div id="sanders-az" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Sanders, Arizona</h2>
					{% include roadtrip-location.html image="marlatt_sanders_2" caption="@@Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.@@" byline="Tilly Marlatt" %}
					<br>
					{% include roadtrip-pullquote.html name="@@Jane Smith@@" image="marlatt_pullquote_sanders" pullquote="@@Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.@@" caption="@@needs a caption@@" %}
					<br>
				</div>
			</div> <!--end of content column-->
			<div class="col-lg-3">
				&nbsp;
			</div><!--end of interactive map columns-->
		</div>	<!--end of cluster2 div-->

		<div class="row" id="cluster25">
			<div class="col-12 road-video-segment">
			{% include roadtrip-drivingvideo.html video="13_87SOUTH" %}
			</div> <!--end of columns-->
		</div>	<!--end of cluster1 div-->

		<div class="row" id="cluster26">
			<div class="col-xs-12 col-lg-7 offset-lg-1">
				<div class="content-stop">
					<div id="phoenix-az" class="roadtrip-buffer">&nbsp;</div>
					<h2 class="text-left">Phoenix, Arizona</h2>
					<div class="missing-content">&nbsp;</div><br>
					<div class="missing-content">&nbsp;</div><br>
				</div>
			</div> <!--end of content column-->
			<div class="col-lg-3">
						<div id="map-nav">
						<a data-toggle="modal" data-target="#navigationModal">
							<div><br>
							<p class="text-center">Click here to explore:</p>
							</div>
						<div id="map"></div><br>
						<div class="travel-info">
							<div class="text-center">
									<img src="{{site.url}}/img/roadtrip/signs/png/I-10.png" alt="Interstate 10 West" class="highway-sign">
							</div>
							<br>
							<h4 class="highway-name text-center">Interstate 10 West</span></h4>
							<p class="text-center">
								<span id="city-name">Phoenix</span>,&nbsp;<span id="state-name">Arizona</span><br>
								<span id="population">Population:&nbsp;<span id="stop-population">1,555,324</span>
								</span>
							</p>
							<br>
						</div>
						</a>
					</div>
			</div><!--end of interactive map columns-->
		</div>	<!--end of cluster2 div-->
		<div class="row">
			<div class="col-12" style="padding-left:0px !important;padding-right: 0px !important">
				<a data-toggle="modal" data-target="#mobileModalNav">
				<div id="roadtrip-bar-mobile">
					<br>
				<h4 class=text-center><img src="{{site.url}}/img/roadtrip/signs/png/I-10.png" alt="Interstate 10 West" class="highway-sign" style="padding-right:10px;height:30px;"><span class="highway-name">Interstate 10 West</span></h4>
				</div>
				</a>
			</div>
		</div>
	</div> <!--end of container-fluid -->

	{{ include roadtrip.js }}