{% comment %}

To include in story: {% include roadtrip-talkie.html name="Name of the people in the talkie" image="image name in roadtrip/talkie directory" description="describe the people in the talkie" caption="" %}


{% endcomment %}

<div class="row">
	<div class="col-sm-12 col-xl-6 ">
	<img src="/img/roadtrip/talkie/{{ include.image }}.jpg" class="img-fluid" alt="{{ include.caption }}" />
	</div>
	<div class="col-sm-12 col-xl-6 ">
		<h3 class="talkie-head">{{ include.name }}</h3>
		<p class="roadtrip-talkie-description">{{ include.description }}</p>
		<button class="btn btn-primary">SOUND CITE &THORN;</button>
	</div>
</div><!--end of talkie row-->