{% comment %}

To include in story: {% include s-audio-grid.html hed="The headline for this piece" soundcite1="audio1" soundcite1-end="32000" text1="CHINESE" soundcite2="audio2" soundcite2-end="32000" text2="KOREAN" soundcite3="audio3" soundcite3-end="32000" text3="CANTONESE" soundcite4="audio4" soundcite4-end="32000" text4="KLINGON" soundcite5="audio1" soundcite5-end="32000" text5="JAPANESE" soundcite6="audio6" soundcite6-end="32000" text7="ROMULAN" soundcite7="audio6" soundcite7-end="32000" text8="ROMULAN" soundcite8="audio6" soundcite8-end="32000" text6="ROMULAN"%}


{% endcomment %}

{% include boxbreaker.html %}

<div class="audiogrid">
<div class="container pusher">
<div class="row" style="padding-bottom: 20px;">

<div style="text-align: center;">
<h2>{{ include.hed }}</h2>
</br>
</div>

<div class="col-xs-3 col-sm-2 col-sm-offset-1">
<span class="soundcite" data-url="//votingwars.news21.com/soundcite/{{ include.soundcite1 }}.mp3" data-start="0" data-end="{{ soundcite1-end }}" data-plays="1">{{ include.text1 }}</span>
</div>

<div class="col-xs-3 col-sm-2">
<span class="soundcite" data-url="//votingwars.news21.com/soundcite/{{ include.soundcite2 }}.mp3" data-start="0" data-end="{{ soundcite2-end }}" data-plays="1">{{ include.text2 }}</span>
</div>

<div class="col-xs-3 col-sm-2">
<span class="soundcite" data-url="//votingwars.news21.com/soundcite/{{ include.soundcite3 }}.mp3" data-start="0" data-end="{{ soundcite3-end }}" data-plays="1">{{ include.text3 }}</span>
</div>

<div class="col-xs-3 col-sm-2">
<span class="soundcite" data-url="//votingwars.news21.com/soundcite/{{ include.soundcite4 }}.mp3" data-start="0" data-end="{{ soundcite4-end }}" data-plays="1">{{ include.text4 }}</span>
</div>

</div>
<div class="row">

<div class="col-xs-3 col-sm-2 col-sm-offset-1">
<span class="soundcite" data-url="//votingwars.news21.com/soundcite/{{ include.soundcite5 }}.mp3" data-start="0" data-end="{{ soundcite5-end }}" data-plays="1">{{ include.text5 }}</span>
</div>

<div class="col-xs-3 col-sm-2">
<span class="soundcite" data-url="//votingwars.news21.com/soundcite/{{ include.soundcite6 }}.mp3" data-start="0" data-end="{{ soundcite6-end }}" data-plays="1">{{ include.text6 }}</span>
</div>

<div class="col-xs-3 col-sm-2">
<span class="soundcite" data-url="//votingwars.news21.com/soundcite/{{ include.soundcite7 }}.mp3" data-start="0" data-end="{{ soundcite7-end }}" data-plays="1">{{ include.text7 }}</span>
</div>

<div class="col-xs-3 col-sm-2">
<span class="soundcite" data-url="//votingwars.news21.com/soundcite/{{ include.soundcite8 }}.mp3" data-start="0" data-end="{{ soundcite8-end }}" data-plays="1">{{ include.text8 }}</span>
</div>


</div>
</div>

</div>
{% include boxenter.html %}
