{% comment %}

To include in story: {% include s-img-small.html image="flags" caption="This is the caption. (Bob Sartre | News21" %}

Put image in /img/single/

For soundcites, see s-img-2up

{% endcomment %}


{% include boxbreaker.html %}


<div class="container pusher">
<div class="row">
<div class="col-sm-5 col-sm-offset-2">

<a data-target="#{{ include.image}}" data-toggle="modal"><img src="/img/single/{{ include.image }}.jpg" class="img-responsive" style="cursor: pointer;" alt="{{ include.caption }}" />
<span class="enlarger hidden-xs"><img src="/img/logos/enlarge.png" width="20" height="20" alt="Enlarge" /></span>
</a>

</div>
<div class="col-sm-3">
<div class="caption">
{% if include.soundcite %}
<span class="soundcite" data-url="//votingwars.news21.com/soundcite/{{ include.soundcite}}.mp3" data-start="0" data-end="{{ soundcite-end }}" data-plays="1">PLAY </span>
{% endif %}
{{ include.caption }}</div>
</div>


</div>
</div>

<!-- Modal -->
<div tabindex="-1" class="img-modal modal fade" id="{{ include.image }}" role="dialog" aria-hidden="true" aria-labelledby="image">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>

      </div>
      <img src="/img/single/{{ include.image }}.jpg" class="img-responsive"  alt="{{ include.caption }}" />
      <p class="caption">{{ include.caption }}</p>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



{% include boxenter.html %}
