{% comment %}

To include in story: {% include s-img-mid-2up.html image1="coast" caption1="This is the caption. (Bob Sartre | News21" image2="coast2" caption2="Caption 2 goes here. (Darlene Sartre | News21)" %}

NOTE: If the caption(s) have a soundcite, invoke as so:

{% include s-img-mid-2up.html image1="coast" soundcite1="themp3file" soundcite1-end="data-end" caption1="This is the caption. (Bob Sartre | News21" image2="coast2" soundcite2="secondmp3" soundcite2-end="data-end2" caption2="Caption 2 goes here. (Darlene Sartre | News21)" %}

Put images in /img/single/


{% endcomment %}

{% include boxbreaker.html %}

<div class="container pusher">
<div class="row">
<!-- <div class="col-sm-11 col-sm-offset-1"> -->

<div class="col-xs-6 col-sm-5 col-sm-offset-1">

<a data-target="#{{ include.image1}}" data-toggle="modal" class="enlargable"><img src="/img/single/{{ include.image1 }}.jpg" class="img-responsive" style="cursor: pointer;" alt="{{ include.caption1 }}" />
<span class="enlarger"><img src="/img/logos/enlarge.png" width="20" height="20" alt="Enlarge" /></span>
</a>
<p class="caption">
{% if include.soundcite1 %}
<span class="soundcite" data-url="//votingwars.news21.com/soundcite/{{ include.soundcite1}}.mp3" data-start="0" data-end="{{ soundcite1-end }}" data-plays="1">PLAY </span>
{% endif %}
{{ include.caption1 }}</p>

</div>
<div class="col-xs-6 col-sm-5">
<a data-target="#{{ include.image2}}" data-toggle="modal" class="enlargable"><img src="/img/single/{{ include.image2 }}.jpg" class="img-responsive" style="cursor: pointer;" alt="{{ include.caption2 }}" />
<span class="enlarger"><img src="/img/logos/enlarge.png" width="20" height="20" alt="Enlarge" /></span>
</a>
<p class="caption">
{% if include.soundcite2 %}
<span class="soundcite" data-url="//votingwars.news21.com/soundcite/{{ include.soundcite2}}.mp3" data-start="0" data-end="{{ soundcite2-end }}" data-plays="1">PLAY </span>
{% endif %}

{{ include.caption2 }}</p>
</div>


<!-- </div> -->

</div>
</div>

<!-- Modal -->
<div tabindex="-1" class="img-modal modal fade" id="{{ include.image1}}" role="dialog" aria-hidden="true" aria-labelledby="image">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>

      </div>
      <img src="/img/single/{{ include.image1 }}.jpg" class="img-responsive"  alt="{{ include.caption1 }}" />
      <p class="caption">{{ include.caption1 }}</p>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div tabindex="-1" class="img-modal modal fade" id="{{ include.image2}}" role="dialog" aria-hidden="true" aria-labelledby="image">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>

      </div>
      <img src="/img/single/{{ include.image2 }}.jpg" class="img-responsive"  alt="{{ include.caption2 }}" />
      <p class="caption">{{ include.caption2 }}</p>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% include boxenter.html %}
