{% comment %}

To include in story: {% include s-parallax.html image="flags" caption="This is the caption. (Bob Sartre | News21" %}

Put image in /img/single/


{% endcomment %}

<style type="text/css">

@media only screen and (max-width:480px) {
.{{ include.image }} {background:url(/img/single/{{ include.image }}-768.jpg) no-repeat center center fixed;   
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 480px;
	width:100%;
	 background-attachment: scroll;			 
	}
}

@media only screen and (min-width:480px) {
.{{ include.image }} {background:url(/img/single/{{ include.image }}-768.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 480px;
	width:100%;
	background-attachment: scroll;
	}
}

@media only screen and (min-width:768px) {
.{{ include.image }} {background:url(/img/single/{{ include.image }}-1200.jpg) no-repeat center center fixed;   
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: scroll;
	height: 768px;
	width:100%;
	}
}

@media only screen and (min-width:1200px) {
.{{ include.image }} {background:url(/img/single/{{ include.image }}-1600.jpg) no-repeat center center fixed;   
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 768px;
	width:100%;
	}
}

@media only screen and (min-width:1600px) {
.{{ include.image }} {background:url(/img/single/{{ include.image }}-2000.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 1024px;
	width:100%;
	}
}
</style>

{% include boxbreaker.html %}


<div class="pusher">
<div class="{{ include.image }}"></div>



<div class="container">
<div class="row">
<div class="col-sm-11 col-sm-offset-1">
	<p class="caption">{{ include.caption }}</p>
</div>

</div>
</div>
</div>



{% include boxenter.html %}
