{% comment %}

To include in story: {% include s-vid-mid-2up.html video1="102417490" caption1="I am the caption" video2="102417490" caption2="I am the caption" %}


{% endcomment %}

{% include boxbreaker.html %}

<div class="container pusher">
<div class="row">
<!-- <div class="col-sm-11 col-sm-offset-1"> -->

<div class="col-xs-6 col-sm-5 col-sm-offset-1">

  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="//player.vimeo.com/video/{{ include.video1 }}?title=0&amp;byline=0&amp;portrait=0&amp;color=a0181d" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    
<p class="caption">
{{ include.caption1 }}</p>

</div>
<div class="col-xs-6 col-sm-5">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="//player.vimeo.com/video/{{ include.video2 }}?title=0&amp;byline=0&amp;portrait=0&amp;color=a0181d" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<p class="caption">
{{ include.caption2 }}</p>
</div>


<!-- </div> -->

</div>
</div>
{% include boxenter.html %}
