$bodytext: 'EB Garamond',  Georgia, Times, serif;

$font-frank: 'Frank Ruhl Libre', Georgia, Times, serif;;
$font-avheavy: 'AvenirNext-Heavy', arial, sans-serif;
$font-avbold: 'AvenirNext-Bold', arial, sans-serif;
$font-robomono: 'Roboto Mono', monospace;
$font-oswald: 'Oswald', helvetica, arial, sans-serif;
$font-garamond: 'EB Garamond',  Georgia, Times, serif;


.content-stop {
	margin-top: 50px;
	margin-bottom: 50px;
}

#map-nav {
	font-family: $font-robomono;
	position: fixed;
	width: 375px;
	top: 110px;
	right: 20px;
	z-index:1;
	border: 1px solid #171717;
	color: #fff;
	background-color: #171717;
}

#map {
	width: 100%;
	height: 300px;
}

.marker {
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden !important;
  background-color: #F9423A;
  width: 10px;
  height: 10px;
}
.marker-active{
background-color:#A10D03;
width: 30px;
height: 30px;
}

.navigation-mapscreen .modal-xl-lenny{
	max-width: 6000px !important;
}

.navigation-mapscreen .modal-open .modal{
	padding: 0px 20px 0px 20px !important;
}

@media (max-width: 1024px){
	#map-nav{
		display: none;
	}
	#modalNavigation{
		display: none;
	}
}

@media (min-width: 1025px){
	#roadtrip-bar-mobile{
		display: none;
	}
	#mobileModalNav {
		display: none;
	}
}

#map2{
	height:700px;
	width:100% !important;
}

.road-video-segment {
padding-left: 0px !important;
padding-right: 0px !important;
}

.driving-video {
	position: relative;
	z-index: 20;
	width: 100vw;
}

.img-caption {
	font-style: italic; 
}

#roadtrip-page {
	font-family: $font-garamond;

	h1, h2, h3{
		font-family: $font-avheavy;
		text-transform: uppercase;
		letter-spacing: 0.25rem;	
	}
	h2 {
	font-size: 3em;
	}
	p {
	line-height: 1.5;
	}

	.travel-info {
		line-height: 1.5;
		font-family: $font-robomono !important;
	}

	.talkie-head {
	font-family: $font-oswald;
	}

	#roadtrip-bar-mobile{
		position: fixed;
		width: 100%;
		bottom: 0;
		height: 100px;
		z-index: 22;
		color: #efeee8;
		background-color: #171717;
	}

	.highway-sign {
	height:30px;
	}

	.highway-name {
	margin-top: -20px;
	margin-bottom: 5px;
	font-family: $font-robomono;
	}
}

.roadtrip-video {
	width: 1200px;
	height: 675px;
}

.missing-content {
	width: 1200px;
	height: 675px;
	background-color: yellow
}

#mobileModalNav{
	.roadtrip-mobile-nav-list {
		font-family: $font-robomono;
	}
	.roadtrip-mobile-sign {
		height:30px;
	}
	.roadtrip-mobile-highway {
		font-weight: 700;
		background-color: #171717;
		color: #fff;
	}
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip, .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
	border-top-color: #171717 !important;
	border-bottom-color: #171717 !important;
}
.mapboxgl-popup-content {
	font-family: $font-robomono;
	background-color: #171717;
	color: #fff;
}
.mapboxgl-popup-close-button {
	color: #fff;
}
.roadtrip-popup-content {
	color: #ffffff !important;
	padding: 10px;
	h5 {
		font-weight: 700;
		font-size: 1.1rem;
	}
	.roadtrip-btn {
		color:#ffffff;
		background-color: #A10D03;
		border-color: #A10D03;
		font-weight: 500;
		font-size: 0.6rem;
	}
	.roadtrip-btn:hover {
		color: #A10D03;
		background-color: #fff;
	}
}

.roadtrip-buffer {
	height:120px !important;
}

.roadtrip-cover-info {
	position: absolute;
	color: #fff !important;
	top:30%;
	left:50%;
	z-index: 21;
	transform:translate(-50%,-60%);
	h1 {
		font-size: 4rem !important;
	}
	.roadtrip-intro-deck {
		font-size: 1.25rem !important;
		font-family: $font-robomono;
	}
}