$sansserif: Roboto, 'Helvetica Neue', helvetica, arial, sans-serif;
$herofont: Roboto, 'Helvetica Neue', helvetica, arial, sans-serif;
$captionfont: 'Roboto Condensed', Georgia, Times, serif;
$bodytext: 'EB Garamond',  Georgia, Times, serif;

$font-frank: 'Frank Ruhl Libre', Georgia, Times, serif;;
$font-avheavy: 'AvenirNext-Heavy', arial, sans-serif;
$font-avbold: 'AvenirNext-Bold', arial, sans-serif;
$font-source: 'Source Code Pro', monospace;
$font-oswald: 'Oswald', helvetica, arial, sans-serif;
$font-garamond: 'EB Garamond',  Georgia, Times, serif;

.filler {
	background-color: yellow;
	height:600px;

}
.filler-vid {
	position:relative;
	height:1080px;
	background-color: #F9423A;
	width:100%;
	z-index:20;
}

.content-stop {
	margin-top: 50px;
}

#map-nav {
	position: fixed;
	width: 375px;
	top: 100px;
	right: 20px;
	z-index:1;
	border: 1px solid #1717;
	color: #fff;
	background-color: #171717;
}

#map {
	width: 100%;
	height: 300px;
}

.marker {
  background-color: #F9423A;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden !important;
}
.marker-active{
background-color:blue;
width: 30px;
height: 30px;
}

.travel-info {
	padding-left: 20px;
}

.navigation-mapscreen .modal-xl-lenny{
	max-width: 6000px !important;
}

.navigation-mapscreen .modal-open .modal{
	padding: 0px 20px 0px 20px !important;
}

@media (max-width: 1024px){
	#map-nav{
		display: none;
	}
}

#map2{
	height:700px;
	width:100% !important;
}

.road-video-segment {
padding-left: 0px !important;
padding-right: 0px !important;
}

.driving-video {
	position: relative;
	z-index: 20;
	width: 100vw;
}

.img-caption {
	font-style: italic; 
}

#roadtrip-page {
	font-family: $font-garamond;

	h1, h2, h3, h4, h5, h6 {
		font-family: $font-avheavy;
		text-transform: uppercase;
		letter-spacing: 0.01rem;
	}
	h2 {
	font-size: 3em;
	}
	p {
	line-height: 1.5;
	}

	.travel-info {
		line-height: 1.5;
			span#city-name, span#state-name, span#population {
				font-family: $font-avbold !important;
			}

	}
	.talkie-head {
	font-family: $font-oswald;
	}
}

