body{
	background-color: #efeee8;
	color: #171717;
}
.filler {
	background-color: yellow;
	height:600px;

}
.filler-vid {
	position:relative;
	height:1080px;
	background-color: #F9423A;
	width:100%;
	z-index:20;
}

.content-stop {
	margin-top: 50px;
}

#map-nav {
	position: fixed;
	width: 375px;
	top: 100px;
	right: 20px;
	z-index:1;
	border: 1px solid #1717;
	color: #fff;
	background-color: #171717;
}

#map {
	width: 100%;
	height: 300px;
}

.marker {
  background-color: #F9423A;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden !important;
}
.marker-active{
background-color:blue;
width: 30px;
height: 30px;
}

.travel-info {
	padding-left: 20px;
}

.navigation-mapscreen .modal-xl-lenny{
	max-width: 6000px !important;
}

.navigation-mapscreen .modal-open .modal{
	padding: 0px 20px 0px 20px !important;
}

@media (max-width: 1024px){
	#map-nav{
		display: none;
	}
}

#map2{
	height:700px;
	width:100% !important;
}

  .road-video-segment {
	padding-left: 0px !important;
	padding-right: 0px !important;
	}
	.driving-video {
		position: relative;
		z-index: 20;
		width: 100vw;
	}