{% include head.html %}


{% if page.hero %}

<div class="container-fluid">
 <div class="row">
    <div class="col-xs-12 col-lg-6" style="padding:0;">
	   <img src="/img/hero-stories/{{ page.hero }}.jpg" class="img-fluid" alt="" style="padding:0;" />
    </div>
     <div class="col-xs-12 col-lg-6 story-header-container">
         <div class="story-header">
             <h1 class="animated fadeIn story-header-headline">{{ page.title }}</h1>
             <div class="story-author">
			     {% if page.byline %}
                <p class="animated fadeIn">By {{ page.byline }} | News21. Published Aug. 20, 2016.</p>
                {% endif %}
            </div>
         </div>
    </div>     
</div>
</div>
{% endif %}

{% if page.hero-video %}
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="//player.vimeo.com/video/{{ page.hero-video }}?title=0&amp;byline=0&amp;portrait=0&amp;color=a0181d"></iframe>

		</div>

<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
{% if page.hero-video-caption %}
				
					<div class="caption">{{ page.hero-video-caption }}</div>

			{% endif %}
<h1 class="not-hero-title animated fadeIn">{{ page.title }}</h1>
</div>

</div>
</div>

{% endif %}

<div class="container story-body">
	<div class="row">

		<div class="col-md-8 offset-md-2">
			{% if page.hero-caption %}
				
					<div class="caption">{{ page.hero-caption }}</div>

			{% endif %}
			
{% if page.titlebelowhero %}

<h1 class="not-hero-title animated fadeIn">{{ page.title }}</h1>
{% endif %}

		
{{ content }}
	</div>
	<!-- /col-md-8 -->

</div>
<!-- /row -->

{% include storyfooter.html %}
{% include foot.html %}
